<div class="row">
  <div class="col-lg-5 col-md-12 col-sm-6 col-xs-12">
    <label for="contributionRange" class="form-label" 
    [ngClass] = "{
      'color-positive': responseDetails.answer >= 100, 
      'color-negative': responseDetails.answer < 100, 
      'fw-bold': responseDetails.answer === 100,
      'color-black' : responseDetails.answer === CONTRIBUTION_POINT_NOT_SUBMITTED || responseDetails.answer === CONTRIBUTION_POINT_NOT_SURE
    }">
      <span *ngIf='responseDetails.answer === CONTRIBUTION_POINT_NOT_SURE && questionDetails.isNotSureAllowed; else elseBlock'>Not Sure</span>
      <ng-template #elseBlock>
        <span>Equal Share
          <span *ngIf='responseDetails.answer > 100'> +{{ responseDetails.answer - 100 }}%</span>
          <span *ngIf='responseDetails.answer < 100 && responseDetails.answer !== CONTRIBUTION_POINT_NOT_SUBMITTED'> -{{ 100 - responseDetails.answer }}%</span>
        </span>
      </ng-template>
    </label>
    <input type="range" class="form-range" min="0" max="200" value="100" step="5"
      [ngModel]="responseDetails.answer" (ngModelChange) ="triggerResponseDetailsChange('answer', $event)"
      [disabled]="isDisabled || responseDetails.answer === CONTRIBUTION_POINT_NOT_SURE" [attr.aria-label]="getAriaLabel()">
    <label for="notSureCheckBox" class="form-label" *ngIf="questionDetails.isNotSureAllowed">Not Sure?</label>
    <input type="hidden" name="toggle" [ngModel]="responseDetails.answer">
    <input type="checkbox" class="form-check-input ms-3" [checked]="responseDetails.answer === CONTRIBUTION_POINT_NOT_SURE"
      (change) ="triggerResponseDetailsChange('answer', responseDetails.answer === CONTRIBUTION_POINT_NOT_SURE ? 100 : CONTRIBUTION_POINT_NOT_SURE)"
      *ngIf="questionDetails.isNotSureAllowed">
  </div>
</div>
